@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --gray-light: #828282;
  --gray-dark: #4f4f4f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 15%;
}

.loaders {
  display: flex;
  justify-content: center;
}

/* Header style */
.App-header {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

@media screen and (max-width: 5000px) and (min-width: 1800px) {
  .App {
    padding: 0 25%;
  }
  .App-header {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .App {
    padding: 0 10%;
  }
}

/* Button style for call a random quote */
.btn-call-random-quote {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--gray-dark);
  cursor: pointer;
}
.btn-call-random-quote:focus {
  outline: none !important;
}
.btn-call-random-quote i {
  font-size: 1.35rem;
  color: var(--gray-dark);
  margin-left: 0.35rem;
}

/* Main style */
.App-main {
  margin: auto 0;
}
/* Quote component style */
.random-quote-container {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
.wrap-random-text {
  display: flex;
  border-left: 8px solid #f7df94;
  padding-left: 10%;
}
.random-quote-text {
  margin: 0;
}
.random-quote-text q {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  margin: 0;
}

/* Quotes by author component style */
.quote-author-name {
  display: flex;
  padding: 2rem 0 2rem 11%;
}
.quote-author-name h1 {
  font-size: 2.25rem;
  color: #333;
  margin: 0;
}
.random-quote-container.author {
  margin: 2.5rem 0;
}
.wrap-random-text.author {
  margin-top: 4rem;
}
.wrap-random-text.author:first-of-type {
  margin: 0;
}

/* Part of random quote component style */
.wrap-random-author {
  display: flex;
  margin-top: 4rem;
  padding-left: 8%;
}
@media screen and (max-width: 768px) {
  .wrap-random-author {
    margin-top: 3rem;
  }
}

.btn-call-quotes {
  width: 100%;
  padding: 2rem 3%;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  cursor: pointer;
}
.btn-call-quotes h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0 0.35rem;
  color: var(--gray-dark);
}
.btn-call-quotes h2 {
  margin: 0.35rem 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--gray-light);
}
.arrow {
  font-size: 2rem;
  color: #fff;
}
.btn-call-quotes:hover {
  background: #333;
}
.btn-call-quotes:hover h1,
.btn-call-quotes:hover .arrow {
  color: #f2f2f2;
}
.btn-call-quotes:focus {
  outline: none !important;
}

/* Footer styling */
.App-footer {
  display: flex;
  flex-direction: column;
}
.copyright {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--gray-light);
}
.copyright a {
  color: var(--gray-light);
  text-decoration: none;
}

/* Mobile screen style */
@media screen and (max-width: 540px) {
  .App {
    padding: 0 5%;
  }
  .random-quote-text q {
    font-size: 1.5rem;
  }
  .quote-author-name h1 {
    font-size: 1.8rem;
  }
}
