@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --gray-light: #828282;
  --gray-dark: #4f4f4f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 15%;
}

.App-header {
}

/* Footer styling */
.App-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.copyright {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--gray-light);
}
.copyright a {
  color: var(--gray-light);
  text-decoration: none;
}
